@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background: #151D21;
    background-image: url('../media/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    user-select: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff7a7a;
}

li {
    font-size: 20px;
}

.epicbutton{
    font-size: 24px;
    color: #151D21;
    background: #ff7a7a;
    display: inline-flex;
    padding: 6px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

.epicbutton:hover {
    background: #151D21;
    font-size: 26px;
    margin-top: 29px;
}

.home{
    margin-top: 50px;
    text-align: center;
}

.smoll {
    color: antiquewhite;
}

.thanks {
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.epic {
    color: antiquewhite;
    margin-top: 50px;
}

.button1{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.middle{
    margin-top: 1000px;
    align-items: center;
    text-align: center;
}

.steps{
    font-family: 'Roboto';
    margin-top: 75px;
    align-items: center;
    text-align: center;
}

.invite {
    font-family: 'Roboto';
    font-size: 20px;
    color: #5865F2;
    border: 2px;
    border-style: solid;
    padding: 12px;
    cursor: default;
}